div {
  display: block;
}
.top {
  display: flex;
  align-items: center;
  background: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.logo {
  height: 45px;
  left: 10px;
  position: absolute;
  top: 13px;
  width: 45px;
  cursor: pointer;
}

.icon-user {
  background-size: 100% auto;
  height: 30px;
  left: 18px;
  top: 14px;
  width: 25px;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

.icon-spot {
  width: 24px;
  height: 32px;
  margin-right: 20px;
  cursor: pointer;
}
.btn_berger {
  width: 28px;
  height: 26px;
  margin-right: 20px;
  cursor: pointer;
}
.title {
  margin-left: 10px;
  margin-top: 90px;
  margin-bottom: 40px;
}
.sel {
  display: flexbox;
  padding: 10px 30px 0 30px;
  border: 1px solid #ddd;
  position: relative;
  border-radius: 5px;
  margin-bottom: 40px;
  margin: 10px;
}
.sel2 {
  border-top: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
}
.tit {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}
.lup {
  vertical-align: top;
  max-width: 100%;
  position: absolute;
  right: 30px;
  top: 17px;
  cursor: pointer;
}
.box {
  display: flex;
}
.dt1 {
  margin-left: 20px;
  display: block;
  width: 312px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #f4f4f1;
  background: #006633;
  color: #222;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
}
.category {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
}
.dt2 {
  display: block;
  width: 312px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px;
  background: #f4f4f1;
  color: #222;
  font-size: 14px;
  text-align: center;
}
.theme {
  argin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  color: #666;
  background: transparent;
  cursor: pointer;
}
dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  cursor: pointer;
}
li {
  list-style: none;
}
input{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  vertical-align: top;
}
.bu{
  margin-left: 1%;
  width: 90%;
  padding-right: 10px;
  height: 38px;
  background: url(//image.istarbucks.co.kr/common/img/util/sbox_arrow_down.png) 96% center no-repeat #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-indent: 10px;
  text-align: left;
  font-size: 16px;
  color: #444;
  overflow: hidden;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.in_span{
  position: absolute;
  left: 10%;
  top: 280px;
  font-size: 14px;
  color: #444;
}
dt {
  display: block;
  padding: 20px;
  background: #f4f4f2;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
  margin: 20px;
}
dl > dt > a {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  background: transparent;
  cursor: pointer;
}
.decaf {
  display: block;
  float: left;
  width: 45px;
  height: 18px;
  margin-left: 15px;
}
.sumIcon{
  width: 60px;
  height: 50px;
}
.summary {
  display: block;
  float: left;
  line-height: 18px;
  margin-left: 5px;
  font-size: 13px;
  color: #444444;
  letter-spacing: -1px;
}
.card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  gap: 20px;
}
.card{
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card-image{
  width: 200px;
  height: 200px;
  flex-wrap: nowrap;
}
.name{
  flex-wrap: nowrap;
  font-size: 14px;
  color: #444;
  height: 54px;
  line-height: 54px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5%;
}
p {
  display: block;
  margin-inline-start: 40px;
}